@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Send Flowers, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(195, 11, 11)
}




h1,
h2 {
    letter-spacing: 3px;
}

#box {
    
    background-color: black;
    width: 100%;
    height: 150px;
}

#maynes {
    float: left;

    color: rgb(232, 3, 3);
    font-size: 300%;
    margin-left: 70px;
}

#maynes:hover {
    color: white;
}

#nav-links {
    font-size: 150%;
    letter-spacing: 1px;

}

#nav-links li {
    float: right;

    list-style-type: none;
    margin-right: 20px;
    
}

#maynes,
#nav-links {

    line-height: 75px;
    padding-top: 30px

    ;
}

#nav-links a {
    text-decoration: none;
    padding: 0 30px;
    color: rgb(232, 3, 3);
}

#nav-links a:hover {
    border-bottom: 1px solid white;
    color: white;
}

.active {
    border-bottom: solid 1px;
}

#mini-header-block {
    background-color: black;
    opacity: .85;
    height: 200px;
    width: auto;
}

#section2-image {
    height: 200px;
    width: 100%;
    background: url(../images/rows-wine-bottles.jpeg) no-repeat center center;
    background-size: cover;
}

/* main-image-block */

#home-right-text {
    float: right;
    width: 600px;
    color: red;
    height: auto;
    text-align: center;


    padding: 20px;
    background-color: rgba(5, 5, 2, 0.3);


    position: absolute;
    left: 350px;
    bottom: 650px;

}

#home-image {
    width: 100%;
    height: 800px;
    background: url(../images/maynes-glass-front.jpg\ 1200x800\ high.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;



    animation-name: home-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1);

    }
}

#home-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* open and club blocks */

#bottom-blocks {
    background-color: black;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;


}



#opening {
    width: 50%;
    float: left;
    background-color: rgba(5, 5, 5, 0.7);
    color: white;
    margin: 0;
    text-align: center;
    height: 450px;
    margin-top: 30px;
    font-size: 150%;

    background: url(../images/latte.jpg-resized.jpg);
    background-size: cover;




}

#club {
    width: 50%;
    float: right;

    background-color: rgba(5, 5, 5, 0.7);
    color: white;
    text-align: center;
    height: 450px;
    margin-top: 30px;
    font-size: 150%;

    background: url(../images/wine-horizontal.jpeg-resized.jpeg);
    background-size: cover;
}



/* footer link stylings */

footer {
    text-align: center;
    float: inline-start;
    background-color: black;
    letter-spacing: 100px;
    color: maroon;
    height: auto;
    clear: both;
}

.social-links>li {

    display: inline;
    color: red;
    size: 150%;
}

.social-links i {
    color: white;
    size: 300%;
    font-size: 300%;
    margin-top: 25px;
}

.social-links i:hover {
    color: red;
}

/* gallery page */

#gallery-pics {
    clear: both;
    line-height: 0%;
    column-count: 3;
    column-gap: 0ch;
    background-color: black;

}

#gallery-pics > img {

    width: 100%;
}

/* add media queries */

@media screen and (max-width:1200px) {
    #bottom-blocks {
        width: 100%;
        height: auto;
        margin: 0 auto;

    }

    #opening {
        width: 100%;
        float: left;
        padding: 0%;
        clear: both;
        height: auto;
    }

    #club {
        width: 100%;
        float: left;
        padding: 0%;
        clear: both;
        height: auto;
    }
    


}
/* medium screens*/
@media screen and (max-width: 950px){
    #nav-links{
clear: left;
margin-left: 20px;
margin-bottom: 20px;
line-height: 25px;
float: left;

    }
    #box{
        height: 200px;
    }
    
    
    }

    @media screen and (max-width: 472px){
        #nav-links{
    clear: left;
    margin-left: 75px;
    margin-bottom: 20px;
    line-height: 25px;
    float: left;
    
    
        }
        #box{
            height: 330px;
        }
        
        .two{
            clear: both;
        }
        .three{
            clear: both;
        }
}