@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Send Flowers, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(195, 11, 11)
}

h1,
h2 {
    letter-spacing: 3px;
}

#box {

    background-color: black;
    width: 100%;
    height: 150px;
}
#box-2{
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    height: 350px;
}

#maynes {
    float: left;

    color: rgb(232, 3, 3);
    font-size: 300%; 

    margin-left: 70px;
    margin-right: 20px;
}

#maynes:hover {
    color: white;
}

#nav-links {
    font-size: 150%;
    letter-spacing: 1px;

}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 20px;

}

#maynes,
#nav-links {

    line-height: 75px;
    padding-top: 30px;
}

#nav-links a {
    text-decoration: none;
    padding: 0 30px;
    color: rgb(232, 3, 3);
}

#nav-links a:hover {
    border-bottom: 1px solid white;
    color: white;
}

.active {
    border-bottom: solid 1px;
}



/* main-image-block */

#home-text {

    width: 600px;
    color: white;
    height: auto;
    text-align: center;
    left: 25%;
    font-family: "Caveat";


    background-color: rgba(5, 5, 2, 0.7);

    margin: 30px auto;
    position: absolute;
    /* left: 350px;
    bottom: 650px; 
    float: right; */

}

#home-image {
    width: 100%;
    height: 800px;
    background: url(../images/maynes-glass-front.jpg\ 1200x800\ high.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;



    animation-name: home-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1);

    }
}

#home-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* open and club blocks */

#bottom-blocks {
    background-color: black;
    height: 700px;
    
    position: relative;
    width: 100%;


}



#opening {
    width: 40%;
    float: left;
    font-family: "Caveat";
    color: black;
    border: 20px solid;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
    height: 650px;
background-color: white;
    font-size: 170%;
    margin-left: 6.5%;
    
    padding: 10px;
    display: inline-block;

    /* background: url(../images/latte.jpg-resized.jpg);
    background-size: cover; */




}

#club {
    width: 40%;
    float: right;
    font-family: "Caveat";
    color: black;
    text-align: center;
    height: 650px;
    background-color: white;
    border: 20px solid;
    border-color: black;
    box-sizing: border-box;
margin-right: 6.5%;
    font-size: 170%;
    padding: 10px;
    display: inline-block;
    

}




/* footer link stylings */

footer {
    text-align: center;
    background-color: black;
    height: auto;
    clear: both;
}

.social-links>li {

    display: inline;
    letter-spacing: 50px;
}

.social-links i {
    color: white;
    size: 300%;
    font-size: 300%;
    margin: 15px;
    
}

.social-links i:hover {
    color: red;
}

/* gallery page */

#gallery {
    clear: both;
    line-height: 0%;
    column-count: 3;
    column-gap: 0ch;
    background-color: black;
    

}

#gallery>img {

    width: 90%;
    
    padding: 5%;
}

/* add media queries */

@media screen and (max-width:1200px) {
    #bottom-blocks {
        width: 100%;
        height: auto;
        margin: 0 auto;
        

    }

    #opening {
        width: 90%;
        margin: 0 5%;
        padding: 30px;
        clear: both;
        height: auto;
        

        
    }

    #club {
        width: 90%;
        margin: 0 5%;
        padding: 30px;
        clear: both;
        height: auto;
    }
    #nav-links li{
        margin: 10px auto;
    }



}

/* medium screens 950 */
@media screen and (max-width: 950px) {
    #nav-links {
        clear: left;
        margin-left: 60px;
        text-align: center;
        line-height: 25px;
        float: left;

    }

    #box {
        height: 200px;
    }

    #home-text {

        width: 50%;
        height: auto;
        margin: 30px auto
    }

    h1 {
        text-align: center;
    }
    #maynes{
        padding: 10px;
        text-align: center;
    }
.social-links i {
    letter-spacing: 20px;
}
#gallery{
    column-count: 2;
}

}
/* 530px */
@media screen and (max-width: 476px) {
    #nav-links {
        clear: left;
        margin:0 30%;
        line-height: 25px;
        float: left;
        


    }

    #box {
        height: 400px;
    }

    #two {
        clear: both;
        margin-top: 30px;
    }

    .three {
        clear: both;
        margin-top: 30px;
    }

    #maynes {
        margin: 0 10%;
    }

    #club,
    #opening {
        width: 100%;
        margin: 0%;
    }
.social-links i {
    letter-spacing: 10px;
    font-size: 200%;
}
.social-links>li{
    letter-spacing: 10px;
}
#gallery{
    column-count: 1;
}
#nav-links li{
    margin-left: 25%;
}
}